body {
    background-image: url();
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
/* background-color: antiquewhite; */
}

.left {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.right {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;


}
.inside{
    background-color: rgb(0, 0, 0); 
     height: 70%;
      width: 85%;
}


.form-card {
    margin-top: 20px;
    padding: 20px;
    width: 37vw;
    height: 55vh;
    justify-content: center;
}
/* 
h1{
    font-size: 13px;
    color: rgb(255, 245, 233);
} */

p{
 color: antiquewhite;
padding-left:10px
}